/* Global variables */
/* ======================================================================== */
$main_font_family: "Roboto";
// $title_font_family: "Playfair Display";

// $main_line_height: 1.2;
$main_font_size: 16px;

$container_width: 1200px;

$color_blue: #3361FF;
$color_green: #29CC39;
$color_pink: #E62E7B;
$color_purple: #8833FF;
$color_orange: #FF6633;
$color_tealBlue: #33BFFF;
$color_red: #E62E2E;
$color_yellow: #FFCB33;
$color_bronze: #CC7429;
$color_tiffany: #2EE6CA;
$color_grayBlue: #6B7A99;

$color_black: #000000;
$color_white: #FFFFFF;

//buttons
// $button_font_size: 12px;
