/* Global variables */
/* ======================================================================== */
$main_font_family: "Roboto";
// $title_font_family: "Playfair Display";

// $main_line_height: 1.2;
$main_font_size: 1em;

$container_width: 1200px;

$color_blue: #3361FF;
$color_blue_dark: #194DFF;
$color_blue_darkest: #0039FF;

$color_green: #29CC39;
$color_green_dark: #13BF24;
$color_green_darkest: #00B211;

$color_pink: #E62E7B;
$color_pink_dark: #D91668;
$color_pink_darkest: #CC0056;

$color_purple: #8833FF;
$color_purple_dark: #7919FF;
$color_purple_darkest: #6A00FF;

$color_orange: #FF6633;
$color_orange_dark: #E64B17;
$color_orange_darkest: #CC4314;

$color_tealBlue: #33BFFF;
$color_tealBlue_dark: #17A5E6;
$color_tealBlue_darkest: #008CCC;

$color_red: #E62E2E;
$color_red_dark: #CC1414;
$color_red_darkest: #B20000;

$color_yellow: #FFCB33;
$color_yellow_dark: #E6B117;
$color_yellow_darkest: #D9A200;

$color_bronze: #CC7429;
$color_bronze_dark: #B35C12;
$color_bronze_darkest: #994700;

$color_tiffany: #2EE6CA;
$color_tiffany_dark: #14CCB0;
$color_tiffany_darkest: #00B397;

$color_grayBlue: #6B7A99;

$color_black: #000000;
$color_white: #FFFFFF;

//buttons
