// Style for button and pseudo button for input and link

.btn {
	display: inline-block;
	max-width: 100%;

	font-family: $main_font_family;
	font-weight: 900;
	font-size: 0.75em;
	background-color: $color_blue;
	color: $color_white;

	padding: 1.334em 2.456em;
	border-radius: 0.313em;

	outline: none;
	border: none;

	text-align: center;
	cursor: pointer;
	transition: all 0.3s;
	text-decoration: none;

	&:hover {
		background-color: $color_blue_dark;

		i {
			opacity: 1;
		}
	}

	&:active {
		background-color: $color_blue_darkest;
	}

	&:focus {
		box-shadow: none;
	}

	&-radius {
		border-radius: 1.875em;
	}
	// size
	&-lg {
		font-size: 0.875em;
		padding: 1.393em 2.426em;
	}

	&-sm {
		padding: 0.917em 1.623em;
	}

	&-xsm {
		font-size: 0.625em;
		padding: 0.75em 1.5em;
	}
	// end size

	//color
	&-light {
		background-color: $color_white;
		color: #4D5E80;
		border: 2px solid #F2F3F5;
		box-shadow: 0 2px 5px rgba(38, 51, 77, 0.03);

		&:hover {
			background-color: darken($color_white, 5%);
		}

		&:active {
			// background-color: darken($color_white, 10%);

		}

	}

	&-dark {
		background-color: #202B40;
		color: #7D8FB3;
		box-shadow: 0 2px 5px rgba(38, 51, 77, 0.03);
		text-decoration: none;

		&:hover {
			background-color: lighten(#202B40, 5%)!important;
		}

		&:active {
			outline: none;
			box-shadow: none !important;
			-webkit-appearance: none;
			background-color: lighten(#202B40, 10%)!important;

		}
	}

	&-green {
		background-color: $color_green;

		&:hover {
			background-color: $color_green_dark;
		}

		&:active {
			background-color: $color_green_darkest;
		}
	}

	&-orange {
		background-color: $color_orange;

		&:hover {
			background-color: $color_orange_dark;
		}

		&:active {
			background-color: $color_orange_darkest;
		}

	}

	&-purple {
		background-color: $color_purple;

		&:hover {
			background-color: $color_purple_dark;
		}

		&:active {
			background-color: $color_purple_darkest;
		}

	}

	&-blue {
		background-color: $color_tealBlue;

		&:hover {
			background-color: $color_tealBlue_dark;
		}

		&:active {
			background-color: $color_tealBlue_darkest;
		}

	}

	&-tiffany {
		background-color: $color_tiffany;

		&:hover {
			background-color: $color_tiffany_dark;
		}

		&:active {
			background-color: $color_tiffany_darkest;
		}

	}

	&-greyBlue {
		background-color: #0D111A;

		&:hover {
			background-color: lighten(#0D111A, 10%);
		}

		&:active {
			background-color: lighten(#0D111A, 20%);

		}
	}

	// end color

	// start btn-group
	&-group {
		.btn-light {
			border: 2px solid #F5F6F7;
		}

		.btn {
			display: flex;
			align-items: center;
			// justify-content: center;

			padding: 1.25em;

			&:first-child {
				padding-left: 2.084em;
			}

			&:last-child {
				padding-right: 2.084em;
			}
		}

		i {
			font-size: 1.666em;
			opacity: 0.8;
			transition: opacity 0.3s;
		}

		&-sm {
			.btn {
				padding: 0.78em;

				&:first-child {
					padding-left: 1.476em;
				}

				&:last-child {
					padding-right: 1.476em;
				}
			}

			i {
				font-size: 1.333em;
			}

		}

		&-lg {
			.btn {
				padding: 1em;

				&:first-child {
					padding-left: 1.5em;
				}

				&:last-child {
					padding-right: 1.5em;
				}
			}

			i {
				font-size: 1em;
			}

		}

		&-xsm {
			.btn {
				padding: 0.584em;

				&:first-child {
					padding-left: 0.993em;
				}

				&:last-child {
					padding-right: 0.993em;
				}
			}

			i {
				font-size: 1.34em;
			}

		}

	}

}

// end btn-group
