extends layout/layout.pug

block content
    // begin buttons
    section#buttons.buttons.section
        .container_center
            h2.section__title Buttons ...
            .buttons__content
                span Default, Radius 30
                p 
                    button.btn(type="button") Button
                    button.btn.btn-radius(type="button") Button

                span Large, Default, Small, Extra Small
                p
                    button.btn.btn-lg(type="button") Button
                    button.btn(type="button") Button
                    button.btn.btn-sm(type="button") Button
                    button.btn.btn-xsm(type="button") Button

                span Large, Default, Small, Extra Small
                p
                    button.btn.btn-lg.btn-radius(type="button") Button
                    button.btn.btn-radius(type="button") Button
                    button.btn.btn-sm.btn-radius(type="button") Button
                    button.btn.btn-xsm.btn-radius(type="button") Button

                span Light Button,  Dark Button,  Combinations Button
                p
                    button.btn.btn-sm.btn-radius.btn-light(type="button") Button
                    button.btn.btn-dark(type="button") Button
                    button.btn.btn-green(type="button") Button
                    button.btn.btn-orange(type="button") Button
                    button.btn.btn-purple(type="button") Button
                    button.btn.btn-blue(type="button") Button
                    button.btn.btn-tiffany(type="button") Button
                    button.btn.btn-greyBlue(type="button") Button


    // end buttons
