extends layout/layout.pug

block content
    // begin buttons
    section#buttons.buttons.section
        .container_center
            h2.section__title Buttons ...
            .buttons__content
                span Default, Radius 30
                p 
                    button.btn(type="button") Button
                    button.btn.btn-radius(type="button") Button

                span Large, Default, Small, Extra Small
                p
                    button.btn.btn-lg(type="button") Button
                    button.btn(type="button") Button
                    button.btn.btn-sm(type="button") Button
                    button.btn.btn-xsm(type="button") Button

                span Large, Default, Small, Extra Small
                p
                    button.btn.btn-lg.btn-radius(type="button") Button
                    button.btn.btn-radius(type="button") Button
                    button.btn.btn-sm.btn-radius(type="button") Button
                    button.btn.btn-xsm.btn-radius(type="button") Button

                span Light Button,  Dark Button,  Combinations Button
                p
                    button.btn.btn-sm.btn-radius.btn-light(type="button") Button
                    button.btn.btn-dark(type="button") Button
                    button.btn.btn-green(type="button") Button
                    button.btn.btn-orange(type="button") Button
                    button.btn.btn-purple(type="button") Button
                    button.btn.btn-blue(type="button") Button
                    button.btn.btn-tiffany(type="button") Button
                    button.btn.btn-greyBlue(type="button") Button
    // end buttons

    // begin buttonsGroup
    section#buttonsGroup.buttonsGroup.section
        .container_center
            h2.section__title btn-group
            .buttonsGroup__content
                span default, sm, lg, xsm
                br
                .btn-group
                    button.btn.btn-radius
                        i.icon-in
                    button.btn
                        i.icon-burger
                    button.btn
                        i.icon-man
                    button.btn.btn-radius
                        i.icon-flag

                .btn-group.btn-group-sm
                    button.btn
                        i.icon-in
                    button.btn
                        i.icon-burger
                    button.btn
                        i.icon-flag

                .btn-group.btn-group-lg
                    button.btn
                        i.icon-in
                    button.btn
                        i.icon-burger
                    button.btn
                        i.icon-flag

                .btn-group.btn-group-xsm
                    button.btn.btn-radius
                        i.icon-in
                    button.btn
                        i.icon-arrow-bottom
                    button.btn
                        i.icon-burger
                    button.btn
                        i.icon-man
                    button.btn.btn-radius
                        i.icon-flag

            span .btn-light .btn-dark
            p
                .btn-group
                    button.btn.btn-light.btn-radius
                        i.icon-in
                    button.btn.btn-light
                        i.icon-burger
                    button.btn.btn-light
                        i.icon-man
                    button.btn.btn-light.btn-radius
                        i.icon-flag
                .btn-group
                    button.btn.btn-dark
                        i.icon-in
                    button.btn.btn-dark
                        i.icon-burger
                    button.btn.btn-dark
                        i.icon-man
                    button.btn.btn-dark
                        i.icon-flag
            span Combinations Button
            p        
                .btn-group
                    button.btn.btn-green
                        i.icon-in
                    button.btn.btn-green
                        i.icon-burger
                    button.btn.btn-green
                        i.icon-flag
                .btn-group
                    button.btn.btn-orange
                        i.icon-in
                    button.btn.btn-orange
                        i.icon-burger
                    button.btn.btn-orange
                        i.icon-flag
                .btn-group
                    button.btn.btn-purple
                        i.icon-in
                    button.btn.btn-purple
                        i.icon-burger
                    button.btn.btn-purple
                        i.icon-flag
                .btn-group
                    button.btn.btn-blue
                        i.icon-in
                    button.btn.btn-blue
                        i.icon-burger
                    button.btn.btn-blue
                        i.icon-flag
                .btn-group
                    button.btn.btn-tiffany
                        i.icon-in
                    button.btn.btn-tiffany
                        i.icon-burger
                    button.btn.btn-tiffany
                        i.icon-flag
                .btn-group
                    button.btn.btn-greyBlue
                        i.icon-in
                    button.btn.btn-greyBlue
                        i.icon-burger
                    button.btn.btn-greyBlue
                        i.icon-flag


    // end buttonsGroup
